<h1>
	Results Page!!!
</h1>
	
<% if (data.Search != undefined) { %>
<ul>
	<% data.Search.forEach(function(movie) { %>
		<li>
			<strong><%= movie["Title"] %> </strong> 
			- <%= movie.Year %> 
		</li>
	<%}) %>
</ul>
<% } else { %>
	<%= data.Error %>
<% } %>

<a href="/">Search Again!</a>
